
.top-page {
    height: 100%;
    width: 100%;
    display: table;
    background-image: image-url("top.png");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
}

.top-content {
    display: table-cell;
    vertical-align: middle;
}

.sub-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px
}

.top-logo {
    margin: 16px 0 24px;
}

.top-logo img {
    width: min(80vw, 640px);
    height: auto;
    mix-blend-mode: darken;

}

.top-actions {
    margin-top: 16px;
}